In [5]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [6]:
col_names = [
    'symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
    'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
    'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
    'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
    'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'
]

In [12]:
url = "/Users/jeevankumarbanoth/Downloads/automobile/imports-85.data" 
df_car = pd.read_csv(url, names=col_names, na_values="?", header=None)

In [13]:
df_car.shape

(205, 26)

In [14]:
df_car.head(5)

   symboling  normalized-losses         make fuel-type aspiration num-of-doors   body-style drive-wheels engine-location  wheel-base  length  width  height  curb-weight engine-type num-of-cylinders  engine-size fuel-system  bore  stroke  compression-ratio  horsepower  peak-rpm  city-mpg  highway-mpg    price
0          3                NaN  alfa-romero       gas        std          two  convertible          rwd           front        88.6   168.8   64.1    48.8         2548        dohc             four          130        mpfi  3.47    2.68                9.0       111.0    5000.0        21           27  13495.0
1          3                NaN  alfa-romero       gas        std          two  convertible          rwd           front        88.6   168.8   64.1    48.8         2548        dohc             four          130        mpfi  3.47    2.68                9.0       111.0    5000.0        21           27  16500.0
2          1                NaN  alfa-romero       gas        std          two    hatchback          rwd           front        94.5   171.2   65.5    52.4         2823        ohcv              six          152        mpfi  2.68    3.47                9.0       154.0    5000.0        19           26  16500.0
3          2              164.0         audi       gas        std         four        sedan          fwd           front        99.8   176.6   66.2    54.3         2337         ohc             four          109        mpfi  3.19    3.40               10.0       102.0    5500.0        24           30  13950.0
4          2              164.0         audi       gas        std         four        sedan          4wd           front        99.4   176.6   66.4    54.3         2824         ohc             five          136        mpfi  3.19    3.40                8.0       115.0    5500.0        18           22  17450.0

In [15]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [16]:
df_car.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'], dtype='object')

In [25]:
df_car = df_car[['aspiration', 'num-of-doors', 'drive-wheels', 'num-of-cylinders']]

In [26]:
df_car.head()

  aspiration num-of-doors drive-wheels num-of-cylinders
0        std          two          rwd             four
1        std          two          rwd             four
2        std          two          rwd              six
3        std         four          fwd             four
4        std         four          4wd             five

In [27]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   aspiration        205 non-null    object
 1   num-of-doors      203 non-null    object
 2   drive-wheels      205 non-null    object
 3   num-of-cylinders  205 non-null    object
dtypes: object(4)
memory usage: 6.5+ KB

In [29]:
df_car['num-of-doors'].value_counts()

num-of-doors
four    114
two      89
Name: count, dtype: int64

In [34]:
door_mapper = {
    "two": 2,
    "four": 4
}

df_car.loc[:, 'doors'] = df_car["num-of-doors"].replace(door_mapper)

In [35]:
df_car.head()

  aspiration num-of-doors drive-wheels num-of-cylinders  doors
0        std          two          rwd             four    2.0
1        std          two          rwd             four    2.0
2        std          two          rwd              six    2.0
3        std         four          fwd             four    4.0
4        std         four          4wd             five    4.0

In [37]:
df_car['num-of-cylinders'].value_counts()

num-of-cylinders
four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: count, dtype: int64

In [41]:
cylinder_mapper = {"two":2,
                    "three":3,
                   "four":4,
                    "five":5,
                    "six":6,
                    "eight":8,
                    "twelve":12}

In [43]:
df_car.loc[:, 'cylinders'] = df_car['num-of-cylinders'].replace(cylinder_mapper)

In [44]:
df_car.head()

  aspiration num-of-doors drive-wheels num-of-cylinders  doors  cylinders
0        std          two          rwd             four    2.0          4
1        std          two          rwd             four    2.0          4
2        std          two          rwd              six    2.0          6
3        std         four          fwd             four    4.0          4
4        std         four          4wd             five    4.0          5

In [46]:
df_car['drive-wheels'].value_counts()

drive-wheels
fwd    120
rwd     76
4wd      9
Name: count, dtype: int64

In [48]:
df_car = pd.get_dummies(df_car, columns=['drive-wheels'])

In [49]:
df_car.head()

  aspiration num-of-doors num-of-cylinders  doors  cylinders  drive-wheels_4wd  drive-wheels_fwd  drive-wheels_rwd
0        std          two             four    2.0          4             False             False              True
1        std          two             four    2.0          4             False             False              True
2        std          two              six    2.0          6             False             False              True
3        std         four             four    4.0          4             False              True             False
4        std         four             five    4.0          5              True             False             False

In [50]:
df_car['aspiration'].value_counts()

aspiration
std      168
turbo     37
Name: count, dtype: int64

In [51]:
df_car = pd.get_dummies(df_car, columns=['aspiration'], drop_first=True)

In [52]:
df_car.head()

  num-of-doors num-of-cylinders  doors  cylinders  drive-wheels_4wd  drive-wheels_fwd  drive-wheels_rwd  aspiration_turbo
0          two             four    2.0          4             False             False              True             False
1          two             four    2.0          4             False             False              True             False
2          two              six    2.0          6             False             False              True             False
3         four             four    4.0          4             False              True             False             False
4         four             five    4.0          5              True             False             False             False

In [57]:
url = "/Users/jeevankumarbanoth/Downloads/automobile/imports-85.data" 
df_car = pd.read_csv(url, names=col_names, na_values="?", header=None)

In [58]:
df_car = df_car[['city-mpg', 'peak-rpm']]

In [59]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city-mpg  205 non-null    int64
 1   peak-rpm  203 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.3 KB

In [60]:
df_car['city-mpg'].value_counts()

city-mpg
31    28
19    27
24    22
27    14
17    13
26    12
23    12
21     8
25     8
30     8
38     7
28     7
16     6
37     6
22     4
29     3
15     3
20     3
18     3
14     2
34     1
35     1
32     1
36     1
45     1
13     1
49     1
47     1
33     1
Name: count, dtype: int64

In [61]:
df_car = pd.get_dummies(df_car,columns=['city-mpg'], drop_first=True)

In [62]:
df_car.replace({False: 0, True: 1}, inplace=True)

In [63]:
df_car.head()

   peak-rpm  city-mpg_14  city-mpg_15  city-mpg_16  city-mpg_17  city-mpg_18  city-mpg_19  city-mpg_20  city-mpg_21  city-mpg_22  city-mpg_23  city-mpg_24  city-mpg_25  city-mpg_26  city-mpg_27  city-mpg_28  city-mpg_29  city-mpg_30  city-mpg_31  city-mpg_32  city-mpg_33  city-mpg_34  city-mpg_35  city-mpg_36  city-mpg_37  city-mpg_38  city-mpg_45  city-mpg_47  city-mpg_49
0    5000.0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0
1    5000.0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0
2    5000.0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0
3    5500.0            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0
4    5500.0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0

In [64]:
df_car['peak-rpm'].value_counts()

peak-rpm
5500.0    37
4800.0    36
5000.0    27
5200.0    23
5400.0    13
6000.0     9
5800.0     7
5250.0     7
4500.0     7
4150.0     5
4200.0     5
4350.0     4
4750.0     4
5100.0     3
5900.0     3
4250.0     3
4400.0     3
6600.0     2
4650.0     1
5600.0     1
5750.0     1
4900.0     1
5300.0     1
Name: count, dtype: int64

In [65]:
df_car = pd.get_dummies(df_car,columns=['peak-rpm'], drop_first=True)

In [66]:
df_car.replace({False: 0, True: 1}, inplace=True)

In [67]:
df_car.head()

   city-mpg_14  city-mpg_15  city-mpg_16  city-mpg_17  city-mpg_18  city-mpg_19  city-mpg_20  city-mpg_21  city-mpg_22  city-mpg_23  city-mpg_24  city-mpg_25  city-mpg_26  city-mpg_27  city-mpg_28  city-mpg_29  city-mpg_30  city-mpg_31  city-mpg_32  city-mpg_33  city-mpg_34  city-mpg_35  city-mpg_36  city-mpg_37  city-mpg_38  city-mpg_45  city-mpg_47  city-mpg_49  peak-rpm_4200.0  peak-rpm_4250.0  peak-rpm_4350.0  peak-rpm_4400.0  peak-rpm_4500.0  peak-rpm_4650.0  peak-rpm_4750.0  peak-rpm_4800.0  peak-rpm_4900.0  peak-rpm_5000.0  peak-rpm_5100.0  peak-rpm_5200.0  peak-rpm_5250.0  peak-rpm_5300.0  peak-rpm_5400.0  peak-rpm_5500.0  peak-rpm_5600.0  peak-rpm_5750.0  peak-rpm_5800.0  peak-rpm_5900.0  peak-rpm_6000.0  peak-rpm_6600.0
0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0                0                0                0                0                0                0                0                0                0                1                0                0                0                0                0                0                0                0                0                0                0                0
1            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0                0                0                0                0                0                0                0                0                0                1                0                0                0                0                0                0                0                0                0                0                0                0
2            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0                0                0                0                0                0                0                0                0                0                1                0                0                0                0                0                0                0                0                0                0                0                0
3            0            0            0            0            0            0            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0                0                0                0                0                0                0                0                0                0                0                0                0                0                0                0                1                0                0                0                0                0                0
4            0            0            0            0            1            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0            0                0                0                0                0                0                0                0                0                0                0                0                0                0                0                0                1                0                0                0                0                0                0